@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --dark-gray: #f9fafb;
  --white: #ffffff;
  --off-white: #f9fafb;
  --blue: #284bce;
  --black: #000000;
  --dark-blue: #394150;
  --light-gray: #e5e7eb;
  --gray: #6c727f;
}

/* Global Resets */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

/* Styles */

body,
input {
  font-family: poppins;
}
body {
  background-color: var(--off-white);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

main,
div {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

main {
  padding: 1rem;
}

img {
  width: 7%;
}

h1 {
  font-weight: 600;
  font-size: 3rem;
  margin-bottom: 1.2rem;
}

h2 {
  width: 60%;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--gray);
  margin-bottom: 3rem;
  padding: 0 5.5rem;
}

div {
  width: 30%;
  /* border: 1px solid black; */
  background-color: var(--white);
  padding: 1.5rem 0 1rem 0;
  -webkit-box-shadow: 8px 8px 37px -12px #6c727f;
  box-shadow: 8px 8px 37px -16px #6c727f;
}

label {
  display: none;
}

div,
input {
  border-radius: 0.5rem;
}

input {
  width: 90%;
  text-align: center;
  padding: 1rem 0;
  border-radius: 0.5rem;
  border: none;
}

input::placeholder {
  color: var(--dark-blue);
}

input[type="email"] {
  background-color: var(--off-white);
  border: 1px solid var(--light-gray);
  margin-bottom: 1rem;
  font-size: 1rem;
  outline: none;
}

input[type="submit"] {
  background-color: var(--blue);
  color: var(--white);
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 1.5rem;
  cursor: pointer;
}

p {
  font-size: 1rem;
  color: var(--dark-blue);
}

/* tablet */

@media screen and (max-width: 1100px) {
  div {
    width: 50%;
  }

  h2 {
    width: 90%;
  }
}

@media screen and (max-width: 800px) {
  div {
    width: 80%;
  }

  h1 {
    font-size: 2.5rem;
  }

  h2 {
    width: 100%;
    padding: 0 2rem;
  }
  p {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  body {
    height: 100%;
  }

  img {
    width: 20%;
  }
  main {
    width: 100vw;
  }
  div {
    width: 100%;
    text-align: left;
    padding: 1rem;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    width: 100%;
    padding: 0 2rem;
  }
  p {
    font-size: 0.8rem;
  }
}
